---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import VodCard from '@/components/VodCard.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import type { PaginateFunction } from 'astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allVods = await getCollection('vods')
  return paginate(
    allVods.sort((a, b) => b.data['Stream Date'].valueOf() - a.data['Stream Date'].valueOf()),
    { pageSize: SITE.VODS_PER_PAGE },
  )
}

const { page } = Astro.props
---

<Layout title="All VODs" description="Archive of all Twitch streams">
  <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="py-4">
      <Breadcrumbs
        items={[
          { href: '/vods', label: 'VODs', icon: 'lucide:film' },
          { href: '/vods/all', label: 'All', icon: 'lucide:folder-open' },
          { label: `Page ${page.currentPage}`, icon: 'lucide:folder-open' },
        ]}
      />
    </div>

    <h1 class="mb-8 text-4xl font-bold">All VODs</h1>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {page.data.map((vod) => (
        <VodCard vod={vod} />
      ))}
    </div>

    <div class="py-4">
      <PaginationComponent
        currentPage={page.currentPage}
        totalPages={page.lastPage}
        baseUrl="/vods/all/"
        client:load
      />
    </div>
  </main>
</Layout>