---
import ChatReplay from '@/components/chat-replay/ChatReplay.tsx'
import MinimalLayout from '@/layouts/MinimalLayout.astro'
import { Icon } from 'astro-icon/components'
import { buttonVariants } from '@/components/ui/button'
import { getYouTubeVideoID } from '@/lib/utils'
import { getCollection } from 'astro:content'
import Image from 'astro/components/Image.astro'

export async function getStaticPaths() {
  const vods = await getCollection('vods')
  return vods.map((vod) => ({
    params: { id: vod.id },
    props: { vod },
  }))
}

const { vod } = Astro.props
const youtubeId = getYouTubeVideoID(vod.data['VOD URL'])
---

<MinimalLayout title={vod.data['Title']} description={`Stream VOD: ${vod.data['Title']}`}>
  <main class="flex h-screen flex-col">
    <!-- Top Navigation Bar -->
    <div class="flex items-center justify-between border-b p-4">
      <a class={buttonVariants({ variant: 'outline' })} href="/vods">
        <Icon name="lucide:chevron-left" class="md:mr-2" />
        <span class="hidden md:inline">VODs</span>
      </a>
      <div class="flex items-center text-right gap-4">
        <div class="max-w-[70vw]">
          <h1 class="text-lg font-semibold truncate">{vod.data['Title']}</h1>
          <p class="text-sm text-muted-foreground truncate">{vod.data['Game']} • {vod.data['Stream Date'].toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>
        </div>
        <Image
          src={vod.data['Game Cover URL']}
          alt={`Game cover for ${vod.data['Game']}`}
          width={32}
          height={32}
          class="hidden md:block h-12 w-9 rounded"
        />
      </div>
    </div>

    <!-- Content Area -->
    <div class="relative flex flex-1 flex-col md:flex-row overflow-hidden">
      <!-- Video Player -->
      <div class="relative flex-1">
        <div class="relative h-full w-full">
          {vod.data['Chat Replay URL'] ? (
            <div
              id={`youtube-player-${youtubeId}`}
              class="absolute left-0 top-0 h-full w-full"
            ></div>
          ) : (
          <iframe
            class="absolute left-0 top-0 h-full w-full"
            src={`https://www.youtube.com/embed/${youtubeId}?enablejsapi=1&origin=${Astro.url.origin}&autoplay=1`}
            allow="autoplay; encrypted-media; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          )}
        </div>
      </div>

      <!-- Chat Replay -->
      {vod.data['Chat Replay URL'] && (
        <div class="h-[60vh] md:h-auto md:w-80 border-t md:border-l md:border-t-0 bg-muted/30 overflow-hidden">
          <ChatReplay client:load chatReplayURL={vod.data['Chat Replay URL']} youtubeId={youtubeId} />
        </div>
      )}
    </div>
  </main>
</MinimalLayout>