---
import Layout from '@/layouts/Layout.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import { Card, CardHeader, CardTitle, CardDescription } from '@/components/ui/card'
import { getCollection } from 'astro:content'

const vods = await getCollection('vods')
const sortedVods = vods.sort(
  (a, b) => b.data['Stream Date'].valueOf() - a.data['Stream Date'].valueOf(),
)
const latestVod = sortedVods[0]
const nextThreeVods = sortedVods.slice(1, 4)

// Group VODs by month
const vodsByMonth = sortedVods.reduce(
  (acc: Record<string, typeof vods>, vod) => {
    const monthYear = vod.data['Stream Date'].toLocaleString('en-US', {
      month: 'long',
      year: 'numeric',
    })
    if (!acc[monthYear]) {
      acc[monthYear] = []
    }
    acc[monthYear].push(vod)
    return acc
  },
  {} as Record<string, typeof vods>,
)
---

<Layout title="VOD Collections" description="Collections of previous streams, sorted by month.">
    <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="pb-4">
            <Breadcrumbs
                items={[
                { href: '/vods', label: 'VODs', icon: 'lucide:film' },
                { href: '/vods/collection', label: 'Collections', icon: 'lucide:folder'}
                ]}
          />
        </div>
        <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {Object.entries(vodsByMonth).map(([monthYear, monthVods]) => (
            <Card className="hover:bg-accent transition-colors">
                <a
                href={`/vods/collection/${monthYear.toLowerCase().replace(' ', '-')}`}
                class="block h-full"
                >
                <CardHeader className="space-y-1">
                    <CardTitle className="text-2xl text-center">{monthYear}</CardTitle>
                    <CardDescription className="text-center">
                    {monthVods.length} video{monthVods.length === 1 ? '' : 's'}
                    </CardDescription>
                </CardHeader>
                </a>
            </Card>
            ))}
        </div>
    </main>
</Layout>