---
import BlogCard from '@/components/blog/BlogCard.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

const blog: CollectionEntry<"blog">[] = (await getCollection('blog'))
  .filter((post: CollectionEntry<"blog">) => !post.data.draft)
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <main class="mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8">
    <!-- Blog Posts & Projects -->
    <section>
      <div>
        <!-- Blog Posts -->
        <Card>
          <CardHeader className="flex-row items-center justify-between">
            <h2 class="text-xl font-bold lg:text-2xl">Latest Posts</h2>
            <Link
              href="/blog"
              class={buttonVariants({ variant: 'outline' }) + ' group'}
            >
              View all <span
                class="ml-1.5 transition-transform group-hover:translate-x-1"
                >&rarr;</span
              >
            </Link>
          </CardHeader>
          <CardContent>
            <ul class="not-prose flex flex-col gap-y-4">
              {
                blog.map((post) => (
                  <li>
                    <BlogCard entry={post} />
                  </li>
                ))
              }
            </ul>
          </CardContent>
        </Card>
      </div>
    </section>
  </main>
</Layout>