---
import BlogCard from '@/components/BlogCard.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import Layout from '@/layouts/Layout.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card, CardContent, CardDescription, CardHeader, CardTitle} from '@/components/ui/card'
import { SITE } from '@/consts'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import type { Link as SocialLink } from '@/consts'

// Get blog posts to display
const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

// Get my author entry
const author = (await getCollection('authors'))
  .filter((person) => person.slug === "rileywilson")

// Get projects
const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.name.localeCompare(b.data.name))
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)

// Set consts based on my author entry
const {
  github,
  twitter,
  linkedin,
  youtube,
  twitch,
  instagram,
  mail,
} = author[0].data

// Create links to display from my author entry
const socialLinks: SocialLink[] = [
  github && { href: github, label: 'GitHub' },
  twitter && { href: twitter, label: 'Twitter' },
  linkedin && { href: linkedin, label: 'LinkedIn' },
  youtube && { href: youtube, label: 'YouTube' },
  twitch && { href: twitch, label: 'Twitch' },
  instagram && { href: instagram, label: 'Instagram' },
  mail && { href: mail, label: 'Email' },
].filter(Boolean) as SocialLink[]

---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <!-- About Container  -->
    <section>
      <Card className="overflow-hidden">
        <Image 
          src={"/static/index-banner.png"}
          alt={"What the sigma"}
          width={1200}
          height={300}
        />
        <CardHeader>
          <CardTitle>
            👋 Hey there!
          </CardTitle>
          <CardDescription>
            My name is Riley Wilson, and I edit videos and occasionally make coding projects.
            This silly little website is intended to be a place to store my thoughts, and share
            what I'm currently working on.
          </CardDescription>
        </CardHeader>
        <CardContent>
          <SocialIcons links={socialLinks} />
        </CardContent>
      </Card>
    </section>
    <!-- Featured Projects  -->
    <section>
        <h2 class="mb-4 text-2xl font-bold">My projects</h2>
        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-2">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
      <div class="flex justify-center">
        <Link
        href="/projects"
        class={buttonVariants({ variant: 'ghost' }) + ' group mt-4'}
        >
        See all projects <span
        class="ml-1.5 transition-transform group-hover:translate-x-1"
        >&rarr;</span
        >
        </Link>
      </div>
    </section>
    <!-- Blog Posts  -->
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
        See all posts <span
        class="ml-1.5 transition-transform group-hover:translate-x-1"
        >&rarr;</span
        >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
