---
import BlogCard from '@/components/blog/BlogCard.astro'
import Link from '@/components/Link.astro'
import Section from '@/components/Section.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { buttonVariants } from '@/components/ui/button'
import NowPlaying from '@/components/widgets/now-playing'
import Status from '@/components/widgets/status'
import { SITE, TAGLINES } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

const blog: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .filter((post: CollectionEntry<'blog'>) => !post.data.draft)
  .sort(
    (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
      b.data.date.valueOf() - a.data.date.valueOf(),
  )
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <!-- About Box -->
  <Section class="flex h-40 flex-row items-center justify-between">
    <!-- Name & Tagline -->
    <div class="flex flex-col gap-1">
      <h1 class="text-3xl font-bold md:text-5xl">{SITE.TITLE}</h1>
      <h2 class="text-sm opacity-50">
        {TAGLINES[Math.floor(Math.random() * TAGLINES.length)]}
      </h2>
    </div>
    <!-- Status & Pronouns (woke af) -->
    <div class="flex h-full flex-col justify-between">
      <Status client:load />
      <div class="flex flex-col items-end justify-end">
        <p>he/him</p>
        <p class="text-xs opacity-50">video editor</p>
        <p class="text-xs opacity-50">web developer</p>
      </div>
    </div>
  </Section>
  <!-- Social Icons -->
  <Section class="p-0">
    <SocialIcons />
  </Section>
  <!-- Music Status -->
  <Section class="px-6 py-3">
    <NowPlaying client:load />
  </Section>
  <!-- Blog Posts -->
  <Section class="flex flex-col gap-3" last>
    <ul class="not-prose flex flex-col gap-y-3">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <Link
      href="/blog"
      class={buttonVariants({ variant: 'outline', size: 'lg' }) + ' group'}
    >
      <Icon name="lucide:layout-list" size="16" />
      View All
    </Link>
  </Section>
</Layout>
