---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('mx-auto max-w-[50rem] border-white/25 border rounded-xl backdrop-blur-xl backdrop-saturate-150 px-4 bg-neutral-900/30', className)}><slot /></div>
