---
import { cn } from '@/lib/utils'

interface Props {
  class?: string,
  id?: string
}

const { class: className, id } = Astro.props
---

<div class={cn('mx-auto w-full max-w-[50rem] px-6', className)} id={id}><slot /></div>
