---
import { cn } from '@/lib/utils'

interface Props {
  class?: string,
  id?: string
}

const { class: className, id } = Astro.props
---

<div class={cn('mx-auto max-w-[50rem] border-white/25 border rounded-xl backdrop-blur-xl backdrop-saturate-150 px-4 bg-neutral-900/30', className)} id={id}><slot /></div>
