---
import Container from '@/components/Container.astro'
---

<footer class="p-0 border-t">
  <Container class="rounded-none p-4 border-0 border-l border-r">
    <div
      class="flex flex-col items-center justify-center"
    >
      <p class="text-center text-muted">
          &copy;
          {new Date().getFullYear()} All rights reserved.
      </p>
    </div>
  </Container>
</footer>
