---
import Container from '@/components/Container.astro'
import { SITE } from '@/consts'
import MobileMenu from './ui/mobile-menu'
import { Home } from 'lucide-react'
---

<header class="border-b" transition:persist>
  <Container class="transition-all border-l border-r rounded-none p-0">
    <div class="flex flex-wrap items-center justify-between">
      <a href="/" class="flex justify-center items-center text-border hover:text-primary transition-colors h-14 w-14 border-r">
        <Home size={20} />
      </a>
      <h1 class="text-lg text-accent">{SITE.TITLE}</h1>
      <MobileMenu client:load transition:persist />
    </div>
  </Container>
</header>
