---
import { cn } from '@/lib/utils'
import Container from './Container.astro'

interface Props {
  class?: string,
  id?: string,
  last?: boolean
}

const { class: className, id, last } = Astro.props
---

<section class={cn(last && 'flex flex-grow flex-col')} id={id}>
  <Container class={cn('px-6 py-8', last && 'w-full flex-grow', className)}>
    <slot />
  </Container>
</section>