---
import { cn } from '@/lib/utils'
import Container from './Container.astro'

interface Props {
  class?: string,
  id?: string,
  last?: boolean
}

const { class: className, id, last } = Astro.props
---

<div class={cn(last ? 'flex flex-grow flex-col border-b-0' : 'border-b')} id={id}>
  <Container class={cn('border-l border-r p-6', last && 'w-full flex-grow', className)}>
    <slot />
  </Container>
</div>