---
import Link from '@/components/Link.astro'
import { SOCIALS, type Socials } from '@/consts'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { buttonVariants } from './ui/button'

interface Props {
  links?: Socials[]
  className?: string
}

if (!Astro.props.links) {
  Astro.props.links = SOCIALS
}

const { links, className } = Astro.props
---

<ul class={cn(`grid grid-cols-5`, className)} role="list">
  {
    links.map((link, index) => {
      return (
        <li>
          <Link
            href={link.URL}
            aria-label={link.TITLE}
            title={link.TITLE}
            class={cn(
              buttonVariants({ variant: 'outline' }),
              'group inline-flex h-14 w-full items-center justify-center border-transparent',
              index !== links.length - 1 && 'border-r-border',
            )}
            external
          >
            <Icon name={link.ICON} size={24} />
          </Link>
        </li>
      )
    })
  }
</ul>
