---
import Link from '@/components/Link.astro'
import { SOCIALS, type Socials } from '@/consts'
import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

interface Props {
  links?: Socials[]
  className?: string
  small?: boolean
}

if (!Astro.props.links) {
  Astro.props.links = SOCIALS
}

const { links, className, small } = Astro.props
---

<ul class={cn('not-prose flex flex-wrap gap-2', className)} role="list">
  {
    links.map((link) => {
      return (
        <li>
          <Link
            href={link.URL}
            aria-label={link.TITLE}
            title={link.TITLE}
            class={cn(buttonVariants({ variant: 'default', size: small ? 'sm' : 'icon' }), small ? 'w-8 gap-2' : 'gap-2')}
            external
          >
            <Icon name={link.ICON} class="size-4 min-w-4 min-h-4" />
          </Link>
        </li>
      )
    })
  }
</ul>
