---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="Projects" description="A list of projects that I've worked on.">
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs
      items={[{ label: 'Projects', icon: 'lucide:panels-top-left' }]}
    />
    {
      projects.length > 0 ? (
        <ul class="not-prose flex flex-col gap-4">
          {projects.map((project) => (
            <li>
              <ProjectCard project={project} large />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-center text-muted-foreground">No projects found.</p>
      )
    }
  </Container>
</Layout>
